*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.grid_container{
   display: grid;
   /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
   grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   grid-template-rows: 1fr 1fr 1fr 1fr;
   height:130vh;
   width: 100vw;
   gap: 20px;
}
.grid-item:first-child {
    grid-row: 1 / 7;
    
   

  }
.iteam1{
    background-color: yellow;
    grid-row: 1 / 5;
   
}
.iteam2{
    background-color: blueviolet;
    grid-column: 2/6;
}
.iteam3{
    /* background-color: aqua; */
    grid-column: 2/6;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* grid-template-rows: repeat(auto-fit,minmax(50px,1fr)); */
    /* grid-template-rows: repeat(auto-fit,minmax(50px,100px)) */
    grid-template-rows: repeat(12 ,1fr);
    border: 1px solid black;
    gap: 20px;
    

}
.thirdgrid{
    border: 2px solid red;
}
.third_1,.third_2{
    grid-row: 1/5;
}

.third_3,.third_4{
    grid-row: 5/9;
}

.third_5,.third_6{
    grid-row: 9/13;
}

.third_7{
    grid-row: 1/6;
    background-color: black;
}
.third_8{
    grid-row: 7/13;
    background-color: brown;
}